

<div class="from_register_container">
    <div class="from_register">
        @{
            var user = (HirentWeb2022.Models.tb_Customer)ViewBag.Info;


        }
        @if (user != null)
        {
            <div class="form_register_title">
                @(ViewBag.lang == "vi"? "Thay đổi mật khẩu" : "Change password")
            </div>
            <form>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">@(ViewBag.lang == "vi"? "Password hiện tại" : "Current password")</label>
                    <div class="col-sm-10">
                        <input value="@user.CustomerID" type="hidden" id="txtCustomerID" />
                        <input type="text" class="form-control" id="txtCurrentpassword" placeholder="@(ViewBag.lang == "vi"? "Password hiện tại" : "Current password")">
                    </div>


                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">@(ViewBag.lang == "vi"? "Password mới" : "New password")</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="txtNewpassword" placeholder="@(ViewBag.lang == "vi"? "Password mới" : "New password")">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">@(ViewBag.lang == "vi"? "Xác nhận mật khẩu" : "Confirm password")</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="txtConfirmpassword" placeholder="@(ViewBag.lang == "vi"? "Xác nhận mật khẩu" : "Confirm password")">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 text-right">
                        <button onclick="updateInfo('@user.CustomerID')" type="button" class="btn btn-primary">@(ViewBag.lang == "vi"? "Đổi mật khẩu" : "Submit")</button>
                    </div>
                </div>
            </form>
        }

    </div>
</div>


<script>
    let updateInfo = (id) => {
        var currentPassword = $("#txtCurrentpassword").val();
        var newPassword = $("#txtNewpassword").val();
        var confirmPasswoed = $("#txtConfirmpassword").val();
        if (currentPassword == '' || newPassword == '' || confirmPasswoed==''   ) {
            if ('@ViewBag.lang' === 'vi')
            {
                  showToast("Thông báo", "Mật khẩu không được để trống!",1);
            }
            else
            {
                  showToast("Message", "Password cannot be empty!", 1);
            }
            $("#txtCurrentpassword").focus();

            return;
        }
        if (newPassword != confirmPasswoed)
        {
            if ('@ViewBag.lang' === 'vi')
            {
                showToast("Thông báo", "Mật khẩu mới không trùng nhau!",1);
            }
            else
            {
                showToast("Message", "The two passwords do not match!", 1);
            }

            return;
        }

        var pr = {
            CustomerID: $("#txtCustomerID").val(),
            currentPassword: currentPassword
        }
                $.ajax({
            url: '/Partial/Checkpassword',
            type: "POST",
            dataType: 'html',
            data: pr,
            success: function (data, status, xhr) {
                if (data === 'True')
                {
                     if ('@ViewBag.lang' === 'vi')
                     {
                         showToast("Thông báo", "Mật khẩu hiện tại không đúng!", 1);
                         return;
                     }
                
                }
            },
            error: function (xhr, status, error) {
                alert(status);
            }
                }); 

        var pr2 = {
            CustomerID: $("#txtCustomerID").val(),
            newPassword: newPassword
        }
        $.ajax({
            url: '/Partial/UpdatePasswod',
            type: "POST",
            dataType: 'html',
            data: pr2,
            success: function (data, status, xhr) {
                if (data === 'True') {
                     if ('@ViewBag.lang' === 'vi')
                    {
                         showToast("Thông báo", "Cập nhật thành công!",1);
                    }
                    else
                    {
                         showToast("Message", "Update successful!", 1);
                    }
                    location.reload();
                }
            },
            error: function (xhr, status, error) {
                alert(status);
            }
        });
    }
    let selectGender = 1;
    function rad(id) {
        selectGender = id;
    }

</script>